code/forgefooter.ttf
.Rproj.user/*
.Renviron
.Rhistory
*.metadata
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/F535E4A4-contents
*.pper
.Rproj.user/00ACA4EC/saved_source_markers
.Rproj.user/00ACA4EC/rmd-outputs
.Rproj.user/00ACA4EC/sources/prop/11FFAB05
.Rproj.user/00ACA4EC/sources/prop/34FBABA0
.Rproj.user/00ACA4EC/sources/prop/3EB8D9E2
.Rproj.user/00ACA4EC/sources/prop/44A5F0D4
.Rproj.user/00ACA4EC/sources/prop/5C5FACBD
.Rproj.user/00ACA4EC/sources/prop/621EEA74
.Rproj.user/00ACA4EC/sources/prop/64048C59
.Rproj.user/00ACA4EC/sources/prop/EDB12608
.Rproj.user/00ACA4EC/sources/prop/F9FC8D5E
.Rproj.user/00ACA4EC/sources/prop/INDEX
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/5BFD7269
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/5BFD7269-contents
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/5C19FC4E
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/5C19FC4E-contents
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/5F8D412B
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/5F8D412B-contents
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/81C2CD60
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/81C2CD60-contents
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/B3D0F893
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/B3D0F893-contents
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/B9BDF228
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/B9BDF228-contents
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/C9CD5894
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/C9CD5894-contents
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/F535E4A4
.Rproj.user/00ACA4EC/sources/session-e5cdfaa9/lock_file
.Rproj.user/00ACA4EC/viewer-cache/68F4597F.Rdata
.Rproj.user/00ACA4EC/viewer-cache/692BE3CB.Rdata
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
